
.gamer-wrapper{
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #757de8;
}

.gamer-main-row{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.gamer-main-row span{
  pointer-events: none;
}

.gamer-main-row span:nth-child(1){
  width: 70%;
}
.gamer-main-row span.gamer-points{
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 22px;
}

.gamer-city{
  align-self: flex-end;
  font-size: 12px;
  font-weight: normal;
  color: #002984;
}

.gamer-main-row span:first-child{
  text-align: left;
}

.gamer-main-row span:last-child{
  text-align: right;
}

.gamer-more-details{
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  align-items: flex-end;
  transition: height 0.5s ease;
}

.gamer-wrapper.active .gamer-more-details{
  height: 170px;
}

.gamer-more-details .more-details-row:first-child{
  margin-top: 10px;
}

.more-details-row {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid #757de8;
  width: 80%;
  min-width: 250px;
}

.more-details-row span{
  width: 50%;
  text-align: right;
  font-size: 14px;
}

.more-details-row span:nth-child(1){
  text-align: left;
  width: 80%;
}