.form-wrapper,
.form-wrapper .form-inputs{
  display: flex;
  flex-direction: column;
}

.form-wrapper label{
  text-align: left;
  font-size: 12px;
}

.form-wrapper input{
  display: block;
  margin-bottom: 10px;
}

.form-wrapper label:last-child{
  display: none;
}

.form-wrapper button{
  margin-top: 25px;
  cursor: pointer;
}