.form-wrapper,
.form-wrapper .form-inputs {
  display: flex;
  flex-direction: column;
}

.form-wrapper{
  width: 80%;
  max-width: 250px;
  padding: 25px 10px;
}

.form-wrapper .form-title{
  margin-top: 0;
}

.form-wrapper label {
  text-align: left;
  font-size: 12px;
}

.form-wrapper input,
.form-wrapper select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-wrapper label:last-child {
  display: none;
}

.form-wrapper button {
  margin-top: 25px;
  cursor: pointer;
}
